@import "./common.scss";

@media (max-width: 560px) {
  .businessInfo {
    height: 100vh;

    > .prev {
      height: 5vh;
      margin-top: 11%;
      z-index: 1;
    }

    .bar {
      margin-top: 3%;
      background: $gray3;
      width: 120%;
      height: 3px;
      position: absolute;
      left: -10%;
      z-index: 1;

      .progress {
        width: 33.4%;
        height: 3px;
        background: #000;
        border-radius: 1rem;
      }
    }

    .business__input {
      margin-top: 12%;
      height: 70vh;
      overflow: scroll;

      > h2 {
        font-size: $h1;
        font-weight: $w700;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        line-height: 1.2;

        .page {
          font-weight: $w500;
          font-size: $c1;
          color: $white;
          background: $gray1;
          border-radius: 0.7rem;
          padding: 0.4rem 0.6rem;
        }
      }

      .busi__btn {
        border: 0.2rem solid $gray3;
        border-radius: 1.2rem;
        width: 100% !important;
        height: 5.5rem;
        display: flex;
        justify-content: space-between;

        .v-btn__content {
          background: #fff !important;

          .v-btn--size-default {
            height: 5.5rem !important;
          }

          > h2 {
            font-weight: $w700 !important;
            font-size: $b2;
            color: $black;
          }
        }
      }
    }

    .businessInfo__completion {
      position: absolute;
      width: 100%;
      bottom: 5%;
    }
  }
}
