@import "./common.scss";

@media (max-width: 560px) {
  .findPassBirth {
    height: 100vh;

    .prev {
      margin-top: 11%;
      justify-content: space-between;

      > svg {
        width: 10%;
      }

      > h2 {
        font-weight: $w700;
        font-size: $b1;
        text-align: center;
        width: 90%;
      }
    }

    .findPassBirth__input {
      margin-top: 15%;

      > h2 {
        font-size: $h1;
        font-weight: $w700;
      }
    }

    .findPassBirth__completion {
      position: absolute;
      width: 100%;
      bottom: 5%;
    }
  }
}
