#access-page {
  font-family: var(--font-kr);
}

@media (max-width: 480px) {
  /* top */
  .top {
    > h1 {
      font-weight: 500;
      font-size: 1.6rem;
      color: var(--black);
      line-height: var(--lh1);
      margin-top: 30%;

      > strong {
        font-size: 2.6rem;
        line-height: 1.5;
        font-weight: 800;
      }
    }

    > p {
      font-size: 1.4rem;
      line-height: var(--lh1);
      color: #757575;
      margin-top: 3%;
    }
  }

  /* middle */
  .middle {
    margin-top: 30%;
    margin-bottom: 30%;
  }

  /* mid1 */
  .mid1 {
    display: flex;
    margin-top: 10%;

    > div:nth-child(1) {
      width: 6%;

      > img {
        width: 1.4rem;
        height: 1.4rem;
      }
    }

    > div:nth-child(2) {
      width: 92%;

      > div:nth-child(1) {
        font-size: 1.4rem;
        line-height: var(--lh1);
        color: var(--black);
        margin-bottom: 2%;

        > em {
          color: #757575;
        }
      }
      > div:nth-child(2) {
        font-size: 1.2rem;
        line-height: var(--lh1);
        color: #757575;
      }
    }
  }

  /* bottom */
  .line {
    width: 100%;
    border-top: 1px solid #757575;
    padding: 5% 0 0 0 !important;
  }
  .bottom {
    .list {
      > ul {
        > li {
          list-style: outside;
          line-height: 1.4;
          font-size: 1.2rem;
          color: #757575;
          margin-left: 5%;

          &:nth-child(2) {
            margin-top: 2%;
          }
        }
      }
    }

    > a {
      > button {
        margin-top: 10%;
        font-family: var(--font-kr);
        font-size: 1.6rem;
        font-weight: var(--font-w400);
        color: var(--white);
        background: var(--black);
        width: 100%;
        padding: 1.4rem 0;
        border-radius: 8px;
      }
    }
  }
}
