@media (max-width: 480px) {
  #signUp-page {
    font-family: var(--font-kr);
  }
  #signUp-page .prev {
    margin-top: 4rem;
    position: relative;
    left: -1rem;
  }
  #signUp-page .progress {
    width: 100%;
    height: 0.5rem;
    background: #cecece;
  }
  #signUp-page .progress .inside {
    width: 15%;
    height: 0.5rem;
    background: #000;
    border-radius: 1rem;
  }
  #signUp-page .signUp__info {
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
  }
  #signUp-page .signUp__info .signUp__text {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  #signUp-page .signUp__info .signUp__text .msg {
    font-size: 2.4rem;
    line-height: 1.15;
    font-weight: var(--font-w900);
  }
  #signUp-page .signUp__info .signUp__text .page {
    font-size: 1.6rem;
    color: var(--white);
    padding: 0.2rem 0.7rem;
    background: #c8c8c8;
    border-radius: 1rem;
  }
  #signUp-page .signUp__info .singUp__id {
    margin-top: 3.5rem;
  }
  #signUp-page .signUp__info .singUp__id .singUp__id-announcement {
    margin-left: 0.2rem;
  }
  #signUp-page .signUp__info .singUp__id .singUp__id-announcement .id-announcement1 {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
  }
  #signUp-page .signUp__info .singUp__id .singUp__id-announcement .id-announcement1 > svg {
    width: 2rem;
    height: 2rem;
  }
  #signUp-page .signUp__info .singUp__id .singUp__id-announcement .id-announcement1 > div:nth-child(2) {
    font-size: 1.2rem;
    font-weight: var(--font-w500);
  }
  #signUp-page .signUp__info .singUp__id .singUp__id-announcement .id-announcement2 {
    display: flex;
    align-items: center;
  }
  #signUp-page .signUp__info .singUp__id .singUp__id-announcement .id-announcement2 > svg {
    width: 2rem;
    height: 2rem;
  }
  #signUp-page .signUp__info .singUp__id .singUp__id-announcement .id-announcement2 > div:nth-child(2) {
    font-size: 1.2rem;
    font-weight: var(--font-w500);
  }
  #signUp-page .signUp__info .singUp__id .singUp__id-write > input {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    font-size: 1.6rem;
    line-height: var(--lh1);
    width: 100%;
    padding: 1.5rem 0;
    border: 1.5px solid #c8c8c8;
    border-radius: 1rem;
    padding-left: 1.5rem;
  }
  #signUp-page .signUp__info .singUp__id .singUp__id-write > input::-moz-placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
    font-size: 1.7rem;
  }
  #signUp-page .signUp__info .singUp__id .singUp__id-write > input::placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
    font-size: 1.7rem;
  }
  #signUp-page .signUp__info .singUp__id .singUp__id-write > input:required {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    font-size: 1.6rem;
    color: var(--black);
  }
  #signUp-page .signUp__info .singUp__id .singUp__id-write > input:focus {
    outline: none;
  }
  #signUp-page .signUp__info .singUp__pw {
    margin-top: 2rem;
  }
  #signUp-page .signUp__info .singUp__pw .singUp__pw-announcement {
    margin-left: 0.2rem;
  }
  #signUp-page .signUp__info .singUp__pw .singUp__pw-announcement .pw-announcement1 {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
  }
  #signUp-page .signUp__info .singUp__pw .singUp__pw-announcement .pw-announcement1 > svg {
    width: 2rem;
    height: 2rem;
  }
  #signUp-page .signUp__info .singUp__pw .singUp__pw-announcement .pw-announcement1 > div:nth-child(2) {
    font-size: 1.2rem;
    font-weight: var(--font-w500);
  }
  #signUp-page .signUp__info .singUp__pw .singUp__pw-announcement .pw-announcement2 {
    display: flex;
    align-items: center;
  }
  #signUp-page .signUp__info .singUp__pw .singUp__pw-announcement .pw-announcement2 > svg {
    width: 2rem;
    height: 2rem;
  }
  #signUp-page .signUp__info .singUp__pw .singUp__pw-announcement .pw-announcement2 > div:nth-child(2) {
    font-size: 1.2rem;
    font-weight: var(--font-w500);
  }
  #signUp-page .signUp__info .singUp__pw .singUp__pw-write > input {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    line-height: var(--lh1);
    font-size: 1.6rem;
    width: 100%;
    padding: 1.5rem 0;
    border: 1.5px solid #c8c8c8;
    border-radius: 1rem;
    padding-left: 1.5rem;
  }
  #signUp-page .signUp__info .singUp__pw .singUp__pw-write > input::-moz-placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
  }
  #signUp-page .signUp__info .singUp__pw .singUp__pw-write > input::placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
  }
  #signUp-page .signUp__info .singUp__pw .singUp__pw-write > input:required {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    font-size: 1.6rem;
    color: var(--black);
  }
  #signUp-page .signUp__info .singUp__pw .singUp__pw-write > input:focus {
    outline: none;
  }
  #signUp-page .signUp__info .singUp__pwRe {
    margin-top: 2rem;
  }
  #signUp-page .signUp__info .singUp__pwRe .singUp__pwRe-write > input {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    font-size: 1.6rem;
    line-height: var(--lh1);
    width: 100%;
    padding: 1.5rem 0;
    border: 1.5px solid #c8c8c8;
    border-radius: 1rem;
    padding-left: 1.5rem;
  }
  #signUp-page .signUp__info .singUp__pwRe .singUp__pwRe-write > input::-moz-placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
    font-size: 1.7rem;
  }
  #signUp-page .signUp__info .singUp__pwRe .singUp__pwRe-write > input::placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
    font-size: 1.7rem;
  }
  #signUp-page .signUp__info .singUp__pwRe .singUp__pwRe-write > input:required {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    font-size: 1.6rem;
  }
  #signUp-page .signUp__info .singUp__pwRe .singUp__pwRe-write > input:focus {
    outline: none;
  }
  #signUp-page .signUp__info button {
    font-family: var(--font-kr);
    font-size: 1.7rem;
    color: #fff;
    background: #000;
    padding: 1.4rem 0;
    width: 100%;
    border-radius: 0.8rem;
    box-sizing: border-box;
    margin-top: 18rem;
  }
}