@charset "UTF-8";
@media (max-width: 480px) {
  #userInfo-page {
    font-family: var(--font-kr);
  }
  #userInfo-page > .prev {
    margin: 3rem 0 0.5rem 2rem;
  }
  #userInfo-page > .progress {
    width: 100%;
    height: 0.5rem;
    background: #cecece;
  }
  #userInfo-page > .progress .inside {
    width: 33.4%;
    height: 0.5rem;
    background: #000;
    border-radius: 1rem;
  }
  #userInfo-page .user__info .top__text {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 2.5rem;
  }
  #userInfo-page .user__info .top__text .msg {
    font-size: 2.4rem;
    line-height: 1.15;
    font-weight: var(--font-w900);
  }
  #userInfo-page .user__info .top__text .page {
    font-size: 1.6rem;
    color: var(--white);
    padding: 0.2rem 0.7rem;
    background: #c8c8c8;
    border-radius: 1rem;
  }
  #userInfo-page .user__info .user__input {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
  #userInfo-page .user__info .user__input .user__input-one > input {
    font-size: 1.6rem;
    line-height: var(--lh1);
    width: 100%;
    padding: 1.5rem 0;
    border: 1.5px solid #c8c8c8;
    border-radius: 1rem;
    padding-left: 1.5rem;
  }
  #userInfo-page .user__info .user__input .user__input-one > input::-moz-placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
    font-size: 1.7rem;
  }
  #userInfo-page .user__info .user__input .user__input-one > input::placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
    font-size: 1.7rem;
  }
  #userInfo-page .user__info .user__input .user__input-one > input:required {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    font-size: 1.6rem;
    color: var(--black);
  }
  #userInfo-page .user__info .user__input .user__input-one > input:focus {
    outline: none;
  }
  #userInfo-page .user__info .user__input .user__input-one .invalid {
    font-size: 1.2rem;
    color: #ff0000;
    font-weight: 500;
    text-align: center;
    margin-top: 0.5rem;
    display: none;
  }
  #userInfo-page .user__info .user__input .user__input-one .invalid.show {
    display: block;
  }
  #userInfo-page .user__info .user__input .user__input-one .existent {
    font-size: 1.2rem;
    color: #ff0000;
    font-weight: 500;
    text-align: center;
    margin-top: 0.5rem;
    display: none;
  }
  #userInfo-page .user__info .user__input .user__input-one .existent.show {
    display: block;
  }
  #userInfo-page .user__info .user__input .user__input-two {
    margin-top: 1rem;
  }
  #userInfo-page .user__info .user__input .user__input-two > input {
    font-size: 1.6rem;
    line-height: var(--lh1);
    width: 100%;
    padding: 1.5rem 0;
    border: 1.5px solid #c8c8c8;
    border-radius: 1rem;
    padding-left: 1.5rem;
  }
  #userInfo-page .user__info .user__input .user__input-two > input::-moz-placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
    font-size: 1.7rem;
  }
  #userInfo-page .user__info .user__input .user__input-two > input::placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
    font-size: 1.7rem;
  }
  #userInfo-page .user__info .user__input .user__input-two > input:required {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    font-size: 1.6rem;
    color: var(--black);
  }
  #userInfo-page .user__info .user__input .user__input-two > input:focus {
    outline: none;
  }
  #userInfo-page .user__info .user__input .user__input-three {
    margin-top: 1rem;
  }
  #userInfo-page .user__info .user__input .user__input-three > input {
    font-size: 1.6rem;
    line-height: var(--lh1);
    width: 100%;
    padding: 1.5rem 0;
    border: 1.5px solid #c8c8c8;
    border-radius: 1rem;
    padding-left: 1.5rem;
  }
  #userInfo-page .user__info .user__input .user__input-three > input::-moz-placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
    font-size: 1.7rem;
  }
  #userInfo-page .user__info .user__input .user__input-three > input::placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
    font-size: 1.7rem;
  }
  #userInfo-page .user__info .user__input .user__input-three > input:required {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    font-size: 1.6rem;
    color: var(--black);
  }
  #userInfo-page .user__info .user__input .user__input-three > input:focus {
    outline: none;
  }
  #userInfo-page .user__info .user__input .user__input-four {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    background: #fff;
    border: 1.5px solid #c8c8c8;
    border-radius: 1rem;
    color: #000;
    padding: 1.5rem 0 1.5rem 1.2rem;
  }
  #userInfo-page .user__info .user__input .user__input-four > svg {
    position: absolute;
    right: 1rem;
    width: 2rem;
    height: 2rem;
  }
  #userInfo-page .user__info .user__input .user__input-five {
    margin-top: 1rem;
  }
  #userInfo-page .user__info .user__input .user__input-five > input {
    font-size: 1.6rem;
    line-height: var(--lh1);
    width: 100%;
    padding: 1.5rem 0;
    border: 1.5px solid #c8c8c8;
    border-radius: 1rem;
    padding-left: 1.5rem;
  }
  #userInfo-page .user__info .user__input .user__input-five > input::-moz-placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
    font-size: 1.7rem;
  }
  #userInfo-page .user__info .user__input .user__input-five > input::placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
    font-size: 1.7rem;
  }
  #userInfo-page .user__info .user__input .user__input-five > input:required {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    font-size: 1.6rem;
    color: var(--black);
  }
  #userInfo-page .user__info .user__input .user__input-five > input:focus {
    outline: none;
  }
  #userInfo-page .user__info .user__input .user__input-six {
    margin-top: 1rem;
  }
  #userInfo-page .user__info .user__input .user__input-six > input {
    font-size: 1.6rem;
    line-height: var(--lh1);
    width: 100%;
    padding: 1.5rem 0;
    border: 1.5px solid #c8c8c8;
    border-radius: 1rem;
    padding-left: 1.5rem;
  }
  #userInfo-page .user__info .user__input .user__input-six > input::-moz-placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
    font-size: 1.7rem;
  }
  #userInfo-page .user__info .user__input .user__input-six > input::placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
    font-size: 1.7rem;
  }
  #userInfo-page .user__info .user__input .user__input-six > input:required {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    font-size: 1.6rem;
    color: var(--black);
  }
  #userInfo-page .user__info .user__input .user__input-six > input:focus {
    outline: none;
  }
  #userInfo-page .user__info button {
    font-family: var(--font-kr);
    font-size: 1.7rem;
    color: #fff;
    background: #000;
    padding: 1.4rem 0;
    width: 84.01%;
    border-radius: 0.8rem;
    box-sizing: border-box;
    margin-top: 10rem;
  }
  footer {
    /* 모달 애니메이션 */
  }
  footer .modal__win {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0);
    top: 0;
    display: none;
  }
  footer .modal__win .modal {
    font-family: var(--font-kr);
    height: 90vh;
    width: 100%;
    background: #fff;
    border-radius: 1.5rem 1.5rem 0 0;
    bottom: 0;
    z-index: 5;
    position: fixed;
  }
  footer .modal__win .modal .modal__cont .modal__top-info {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
  }
  footer .modal__win .modal .modal__cont .modal__top-info > svg {
    width: 3.6rem;
    height: 3.6rem;
  }
  footer .modal__win .modal .modal__cont .modal__top-info .modal__close {
    z-index: 15;
  }
  footer .modal__win .modal .modal__cont .modal__top-info .modal__top-text {
    font-size: 1.8rem;
    font-weight: 500;
  }
  footer .modal__win .modal .modal__top-search > input {
    font-size: 1.6rem;
    line-height: var(--lh1);
    width: 100%;
    padding: 1.5rem 0;
    border: 1.5px solid #c8c8c8;
    border-radius: 1rem;
    padding-left: 1.5rem;
    margin-top: 2rem;
  }
  footer .modal__win .modal .modal__top-search > input::-moz-placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
    font-size: 1.7rem;
  }
  footer .modal__win .modal .modal__top-search > input::placeholder {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    color: #cccccc;
    font-size: 1.7rem;
  }
  footer .modal__win .modal .modal__top-search > input:required {
    font-family: var(--font-kr);
    font-weight: var(--font-w500);
    font-size: 1.6rem;
    color: var(--black);
  }
  footer .modal__win .modal .modal__top-search > input:focus {
    outline: none;
  }
  footer .modal__win .modal .line {
    width: 100%;
    border: 1.5px solid #ccc;
    margin-top: 1.5rem;
  }
  footer .modal__win .modal .search__completion {
    -moz-text-align-last: left;
         text-align-last: left;
  }
  footer .modal__win .modal .search__completion .completion__text {
    padding: 1.3rem 0 1.3rem 0;
    border-bottom: 0.15rem solid #c8c8c8;
  }
  footer .modal__win .modal .search__completion .completion__text:last-child {
    border: 0;
  }
  footer .modal__win .modal .search__completion .completion__text > h2 {
    font-size: 1.6rem;
  }
  footer .modal__win .modal .search__completion .completion__text > p {
    font-size: 1.2rem;
    color: #cccccc;
  }
  footer .modal__win.back {
    background-color: rgba(20, 20, 20, 0.767);
    transition: all 2s;
  }
  footer .modal__win.show {
    /* 전체 배경 */
    animation: slideOutUp 1s ease forwards;
    display: block;
  }
  footer .modal__win.show.hide {
    animation: slideOutDown 0.3s 0.5s ease backwards;
    display: none;
  }
  footer .modal__win.show .modal__close {
    /* 닫기 배경 */
  }
  footer .modal__win.show.hide .modal__close {
    display: none;
  }
  @keyframes slideOutUp {
    from {
      transform: translate3d(0, 100%, 0);
      opacity: 0;
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @keyframes slideOutDown {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      visibility: hidden;
      transform: translate3d(0, 100%, 0);
    }
  }
  @keyframes opacityOut {
    0% {
      transform: opacity(0);
    }
    100% {
      transform: opacity(1);
    }
  }
  @keyframes opacityIn {
    0% {
      transform: opacity(0);
    }
    100% {
      transform: opacity(1);
    }
  }
  @keyframes zoomOut {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes zoomIn {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
}